@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@800&display=swap');

body 
{
    overflow: hidden;
    background: #000;
}

.bg{
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 5em;
    background-image: url("./img/capture5.PNG");
    background-repeat: no-repeat;
    animation: fadeInAndOutAnimation 20s ease-in 1s 3 normal forwards;
}

.overlay{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
}

@keyframes fadeInAndOutAnimation {
    20%{
        background-image: url("./img/capture1.PNG");
    }
    
    40%{
        background-image: url("./img/capture2.PNG");
    }
    60%{
        background-image: url("./img/capture3.PNG");
    }
    80%{
        background-image: url("./img/capture4.PNG");
    }
    100%{
        background-image: url("./img/capture5.PNG");
    }
}
h1{
    
    font-family: 'Spartan', sans-serif;
}
p{
    font-size: large;
    font-family: 'Spartan', sans-serif;
}
header{
    background-color: rgb(46, 40, 40);
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    margin-left: 40vw;
}
.titleimage{
    display: flex;
    justify-content: center;
    width: 60%;
    
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    /* position: absolute;
    top: 50%; */
}

.controls{
    background-color: rgb(220, 20, 50);;
    width: 40vw;
    display: flex;
    flex-direction: column;
    padding: 1em;
    opacity: .5;
    transition: .3s;
    user-select: none;
}

.controls:hover{
    opacity: 1;
    transition: .3s;
}

.touches_move{
    text-align: justify;
    margin-right: 1rem;
    
}
.touches_inter{
    flex-direction: row;
   
}
.synopsis{
    background-color: rgb(220, 20, 50);
    width: 40vw;
    height: 30vh;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding: 1em;
    overflow: none;
    margin-left: 2em;
    opacity: .5;
    transition: .3s;
    user-select: none;
}

.synopsis:hover{
    opacity: 1;
    transition: .3s;
}

.synimg{
    width: 15vh;
}
.objimg{
    width: 15vh;
}
.btn_play{
    display: flex;
    justify-content: center;
    width: 20vw;
    height: 10vh;
    text-align: center;
    align-items: center;
    font-family: 'Spartan', sans-serif;
    font-size: x-large;
    background-color: rgb(100, 10, 10);
    color: rgb(255,255,255);
    transition: .3s;
    cursor: pointer;
    position: absolute;
    bottom: 5vh;
}
.btn_play:hover{
    background-color: rgb(46, 40, 40);
    transition: .3s;
}

a{
    text-decoration: none;
}

@media (max-width: 100em), (max-height: 55em){
    .synopsis{
        overflow: scroll;
    }
}
